<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empty Database Error</title>
</head>
<body>
    <h1>Error</h1>
    <h2>You atmeped to view an empty database</h2>
    <br>
    <p>
        <button onclick="window.location.href='{{ url_for( 'index' ) }}';">Go Back</button>
    </p>
</body>
</html>